<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="base :: header"></th:block>
    <title>About the Bootcamp</title>
</head>

<body>
<div class="container-fluid">
    <nav th:replace="base :: nav"></nav>
</div>

<div class="container">
    <div class="jumbotron lead" id="blog">
        <h1 align="center">About the Java Bootcamp </h1>
        <br>
        <br>
        
        
            <p>The Java Web Developer Boot Camp is an 8 hour a day (9 am - 5 pm, M-F) 8-week, immersive software engineering program funded by the Department of Labor.
            This course aims to increase the number of skilled software developers in this country. We do this by accepting qualified candidates who cannot afford the
            cost of a coding boot camp. If accepted into the program all fees will be covered by the program.

            <p>The Java Web Development Bootcamp takes you from your first java program to developing a web application. 
                This course will give you a fast start on your career so you can take it to the next level. 
                The course will teach you by forcing you to write over 130 java applications, including 5 major web applications. 
                Programming challenges will keep you on your toes. You'll learn to create servlets and web pages. You'll use frameworks, 
                unit tests and stored procedures. You'll connect to an Oracle database using the Java Persistence API(JPA), and most importantly, 
                all assignments are submitted through git, so you will learn to develop using best practices in class, 
                to make it easy to contribute value when you are on the job.</p>
            
        <p>This program takes you from writing your first Java class to developing a complete website. This guide
            contains lessons that will give you a jump start on your career. Detailed instructions enable you to
            successfully complete the many problems. You'll get immediate feedback as you check them against supplied
            solutions. Programming challenges will keep you engaged, interested and on your toes.</p>
            

        <p>You will develop skills creating applications using the MVC pattern. You’ll use a templating engine
            (Thymeleaf). You’ll connect to a MySQL database using an ORM, and learn how to write applications that can
            connect to other databases such as PostgreSQL and Oracle. </p>

        <p>And you’ll learn best practices from the experiences of others.</p>
        <p>In order to apply you must be passionate about coding and have the drive to succeed in an immersive environment. 
         Our ideal candidate is an Information Systems or Computer Science major who is either at least a rising junior or graduated within the last six years. 
         If a student doesn't meet those criteria, they can participate in a special one week mini-camp to assess their ability to learn in this environment.</p>

        <p>Applicants also must be unemployed or underemployed to qualify for the grant. In the state of Maryland,
    a person who makes $42,000 or less is underemployed. Must be able to work in the United States.</p>    
        
        
        <p>Upon the completion of the bootcamp, you will receive a voucher for one free exam of the AWS Certified
            Developer - Associate (Links to an external site.)Links to an external site.'s certification. We will NOT
            cover materials on this certification during this 8-10 week bootcamp. This is offered as an incentive for
            your completion.</p>
    </div>
</div>

<div class="container">
    <nav th:replace="base :: footer"></nav>
</div>
</body>
</html>
